<nav class="secondary" aria-label="secondary navigation">
    <ul>

{% for item in site.data.secondaryNavigation %}
{% capture prefixed_link %}/{{ page.kind }}/{{ item.link }}{% endcapture %}

        <li>

{% if page.url == prefixed_link %}

            <a class="menu-item" aria-current="page" href="#">{{ item.name }}</a>

{% else %}

            <a class="menu-item" href="{{ prefixed_link | relative_url }}">{{ item.name }}</a>

{% endif %}

        </li>

{% endfor %}

    </ul>
</nav>
